/* La mejor práctica para ajustar las imágenes son los procentajes */
body {
    font-family: Arial, Helvetica, sans-serif;
}

.losenat {
    width: 10%;
}

.logosena {
    width: 10%;
}

.logosenap {
    width: 10%;
}

.psaludo {
    text-align: justify;
}

.tabla {
    border: 1px solid;
}

tr, th, td {
    border: 1px solid;
    text-align: left;
}

.logosenapre {
    width: 10%;
}

